*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    padding: 2rem;
    font-family: sans-serif;
}

h1{
    color: black;
    font-size: 3rem;
    text-align: center;
}

.cloud-image{
    margin-left: 0;
    width: 10%;
}

form{
    display: flex;
}

label{
    color: black;
}

.weather-p{
    color: black;
}